.navbar {
  background-color: white;
  color: #424242;
  transition: 0.5s;
}
.navbar-content {
  display: flex;
  justify-content: space-around;
}
.button p {
  margin-left: 5px;
}
i {
  color: black;
}
.icon-list button {
  font-size: 30px;
  margin: 10px;
}

.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.routing_link {
  text-decoration: none;
}

.bottomNav{
  z-index: 999;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.637);
}

@media (max-width: 900px) {
  .makeStyles-offset-1{
      display: none;
  }
}

#profile-menu{
  margin-top: 45px;
}
.image_user_menu{
  width: 25px;
  height: auto;
  background-color: var(--color_principal);
}
#profile-menu-bottom{
  margin-top: -45px;
}
.menu-item{
  margin-left: 10px;
}
.navbar-home{
  background-color: var(--color_principal);
  box-shadow: none;
  color: rgb(32, 32, 32);;
  transition: 0.5s;
}

.navbar-home svg{
  color: rgb(32, 32, 32);
  transition: 0.5s;
}
