.Cat_filter{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.Cat_filter h1{
  color: var(--color_principal);
  font-weight: bolder;

}
.error_exercices{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.exercices_page{
  height: 93vh;
  width: 100vw;
  overflow:hidden;
  max-width: unset;
}

@media (max-width: 900px) {
  .exercices_page{
    padding: 0;
  }

  .Cat_filter{
    padding: 20px;
    width: 80%;
  }
}