.modalrodal .rodal-dialog {
  width: 70% !important;
  height: 60% !important;
  min-width: 600px;
  min-height: 500px;

}
.rodal-dialog{
  z-index: 1301 !important;

}
.rodal-mask{
  z-index: 1300 !important;
}

.MuiAppBar-root{
  z-index: 100 !important;
}
/* Exercice Details Style */

.ex_details{
  width: 100%;
  height: 100%;
  display: flex;
}
.ex_details_left{
  width: 40%;
  min-width: 200px;
  overflow: hidden;
}
.ex_details_right{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ex_details_right h1{
  color: var(--color_principal);
  font-weight: bolder;
}

.ex_details_left .ex_image{
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 1s;
}
.ex_image:hover{
  transform: scale(1.1) rotate(0.5deg);
  
}
.ex_details_right_content{
  width: 100%;
  display: flex;
  justify-content: space-around;

}
.ex_details_right_content_desc{
  box-shadow: 0px 0px 5px rgba(78, 181, 250, 0.87);
  width: 55%;
  height: 300px;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow-x: hidden;
  word-wrap: break-word;

}

.ex_details_right_content_categories{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px rgba(78, 181, 250, 0.87);
  width: 35%;
  height: 300px;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  align-items: center;
}
.category_modal{
  width: 100px;
  margin-bottom: 10px;
}
.ex_details_right_footer{
  width: 100%;
  height: 100%;
  display: flex;
}
.ex_details_right_footer_author{
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ex_details_right_footer_options{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
}
.options_modal_author{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.exercice_preview_footer--button{
  height: 80px;
}

@media screen and (max-width: 1200px){
  .ex_details{
    display: flex;
    flex-direction: column;
  }
  .ex_details_left{
    width: 100%;
    height: 40%;
  }
  .ex_details_right{
    width: 100%;
    height: 40%;
  }
  .ex_details_right_content{
    height: 100%;
  }
  .ex_details_right_content_desc{
    height: 150px;
  }
  .ex_details_right_content_categories{
    height: 150px;
  }
  .ex_details_right_footer{
    margin-top: 20px;
    width: 100%;
    height: 100%;
  }
  .modalrodal .rodal-dialog {
    width: 65% !important;
    height: 75% !important;
    min-width: unset;
  }
}
@media screen and (max-width: 600px){
  .ex_details_left{
    width: 100%;
    height: 25%;
  }
  .modalrodal .rodal-dialog {
    width: 90% !important;
    height: 75% !important;
    min-width: unset;
  }
}
