.create_exercice_div{
  margin-top: 20px;
  width: 60%;
}

.submit_btn{
  margin-top: 30px;
}
#label_multiple{
  margin-top: 16px;
}

/* .MuiPaper-root{
  margin-top: 10px;
} */

@media (max-width: 900px) {
  .create_exercice_div{
    width: 80%;
    margin-bottom: 100px;
  }
}

.modalrodal .rodal-dialog{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  text-align: center;
}