.error_workouts{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.workouts_page{
  height: 93vh;
  width: 100vw;
  overflow:hidden;
  max-width: unset;
}

@media (max-width: 900px) {
  .workouts_page{
    padding: 0;
  }
}