.navbar {
  background-color: white;
  color: #424242;
}
.navbar-content {
  display: flex;
  justify-content: space-around;
}
.button p {
  margin-left: 5px;
}
i {
  color: black;
}
.icon-list button {
  font-size: 30px;
  margin: 10px;
}

.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.routing_link {
  text-decoration: none;
}

.bottomNav{
  z-index: 999;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.637);
}

@media (max-width: 900px) {
  .makeStyles-offset-1{
      display: none;
  }
}
